body{
  background-color: white;
}

.cards{
  width: 10.6rem;
  background-color: transparent;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.6rem;
  border:0.3rem solid black;

}

.parent{
  margin-top: 2rem;
  display: flex; 
  flex-wrap: wrap;
  gap: 0.8rem;
  
}
.cards img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.cards button{
  padding: 5px 10px;
  border:none;
  background-color:black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.cards button:active{
  scale: 0.95;
}
.cards img:hover{
  height: 120px;
  width: 120px;
  transition: all 0.3s ease-in-out;
}